<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Generation I</string>
				<string>Generation II</string>
				<string>Generation III</string>
				<string>Generation IV</string>
				<string>Generation V</string>
			</array>
			<key>Values</key>
			<array>
				<string>I</string>
				<string>II</string>
				<string>III</string>
				<string>IV</string>
				<string>V</string>
			</array>
			<key>Title</key>
			<string>Generation</string>
			<key>Key</key>
			<string>generation_setting</string>
			<key>DefaultValue</key>
			<string>I</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset Data</string>
			<key>Key</key>
			<string>reset_setting</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
